@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
    font-family: 'Montserrat', Regular;
    background-color: #83BCFF;
    background-image: url("images/background.png");
    background-repeat: repeat;
    text-align: center;
    font-size: 18px;
}
a {
    font-weight: bold;
}
.project {
    display: grid;
    grid-template:
        "col1 col2" 1fr
        / 25vw 70vw;
    text-align: left;
    padding: 20px;
    align-items: center;
}
.project img {
    width: 100%;
}
.project-description {
    margin-left: 20px;
    margin-right: 20px;
}
.project-title {
    font-family: 'Franklin Gothic Medium';
    font-size: 30px;
    font-weight: 900;
}
.project-subtitle {
    font-family: 'Franklin Gothic Medium';
    color: #606060;
    font-size: 18px;
    font-weight: 400;
}

span[id="MyName"] {
    font-family: 'Georgia';
    font-size: 48px;
    font-weight: 900;
}
.contact {
    font-size: 18px;
    font-weight: normal;
}
#about-me {
    text-align: left;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.section-header {
    text-decoration: underline;
    font-style: bold;
    text-align: left;
    margin-left: 10%;
    font-size: 30px;
}
.subheader {
    font-size: 24px;
}
.section-content {
    font-size: 20px;
    font-weight: 400;
}
.column {
    float: left;
    width: 50%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
#image-credit {
    font-size: 8px;
    position: absolute;
    right: 10px;
}